page-home {
    ion-item .button {
          border-radius: 15px !important;
          padding-left: 20px !important;
          padding-right: 20px !important;
          margin-bottom: 10px;
          height: 5em;
          opacity: 1;
          font-size: 1.1em;
      }

    ion-icon  {
        font-size: 3em;        
    }

    .test {
        font-size: 40px;
    }
}
