page-user-management {

  .toolbar-background {
    background: -webkit-linear-gradient(top, RGB(73,115,60), RGB(88,142,72));
  }

  .toolbar-title {
    color: white;
  }

  .background {
    background-color: #adc490;
  }
}
