page-home {

  .grid-full ion-row {
    height: 100%;
    padding: 0;
    flex-wrap: wrap;
  }

  .grid-full ion-col {
    flex: 0 0 50%;
    max-width: 50%;
    text-align: center;
    color: white;
    font-size: large;
    font-weight: bold;
    padding: 10px 5px;
  }

  .vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cell-1 {
    background: -webkit-linear-gradient(left, rgb(96, 170, 70), rgb(115, 204, 84), rgb(96, 170, 70));
  }

  .cell-2 {
    background: -webkit-linear-gradient(left, rgb(96, 170, 70), rgb(115, 204, 84), rgb(96, 170, 70));
  }

  .cell-3 {
    background: -webkit-linear-gradient(left, rgb(96, 170, 70), rgb(115, 204, 84), rgb(96, 170, 70));
  }

  .cell-4 {
    background: -webkit-linear-gradient(right, rgb(154, 196, 141), rgb(188, 239, 172), rgb(154, 196, 141));
  }

  .cell-5 {
    background: -webkit-linear-gradient(right, rgb(154, 196, 141), rgb(188, 239, 172), rgb(154, 196, 141));
  }

  .cell-6 {
    background: -webkit-linear-gradient(right, rgb(154, 196, 141), rgb(188, 239, 172), rgb(154, 196, 141));
  }
}
