page-home {

  .item-text-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
  }

  .grid-full ion-row {
    height: 100%;
    padding: 0;
    flex-wrap: wrap;
  }

  .grid-full ion-col {
    flex: 0 0 50%;
    max-width: 50%;
    text-align: center;
    color: white;
    font-size: large;
    font-weight: bold;
    padding: 10px 5px;
  }

  .cell-1 {
    background: url('/assets/img/main_menu/search.png') no-repeat;
  }

  .cell-2 {
    background: url('/assets/img/main_menu/news.png') no-repeat;
  }

  .cell-3 {
    background: url('/assets/img/main_menu/monitoring.png') no-repeat;
  }

  .cell-4 {
    background: url('/assets/img/main_menu/about.png') no-repeat;
  }

  .cell-5 {
    background: url('/assets/img/main_menu/about.png') no-repeat;
  }

  .cell-6 {
    background: url('/assets/img/main_menu/login.png') no-repeat;
  }
}
