page-home {

  .grid-full ion-row {
    height: 100%;
    padding: 0;
    flex-wrap: wrap;
  }

  .grid-full ion-col {
    flex: 0 0 50%;
    max-width: 50%;
    text-align: center;
    color: white;
    font-size: large;
    font-weight: bold;
    padding: 10px 5px;
  }

  .vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cell-1 {
    background: url('../assets/img/main_menu/search.png');
  }

  .cell-2 {
    background: url('../assets/img/main_menu/news.png');
  }

  .cell-3 {
    background: url('../assets/img/main_menu/monitoring.png');
  }

  .cell-4 {
    background: url('../assets/img/main_menu/about.png');
  }

  .cell-5 {
    background: url('../assets/img/main_menu/about.png');
  }

  .cell-6 {
    background: url('../assets/img/main_menu/login.png');
  }
}
