page-news {

  .grid-full {
    display: flex;
    flex-direction: column;
  }

  .vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title {
    font-weight: bold;
  }
}
