page-company-info {
  // section icons
  .icon {
    width: 48px;
    height: 48px;
    padding: 2px 2px 2px;
    opacity: 0.9;
  }

  .ion-ios-gen-info, .ion-md-gen-info {
    content: url('../assets/img/company/company_info.png');
  }

  .ion-ios-financials, .ion-md-financials {
    content: url('../assets/img/company/company_financial.png');
  }

  .ion-ios-charts, .ion-md-charts {
    content: url('../assets/img/company/company_graphs.png');
  }

  .ion-ios-reports, .ion-md-reports {
    content: url('../assets/img/company/company_report.png');
  }

  .ion-ios-scoring, .ion-md-scoring {
    content: url('../assets/img/company/company_scoring.png');
  }

  .ion-ios-lemap, .ion-md-lemap {
    content: url('../assets/img/company/company_map.png');
  }

  // general info
  .flex-grid {
    display: flex;
    flex-direction: column;
  }

  .full-height {
    height: 100%;
  }

  ion-row {
    flex: 1;
    align-items: center;
    justify-content: center;
  }

  .row-odd {
    background-color: #F2F2F2;
  }

  .row-even {
    background-color: #E9E9E9;
  }

  .footer {
    border-top: 1px solid;
  }

  .footer ion-col {
    text-align: center;
  }
  // charts section
  .chartissimo {
    height: 100%;
  }
}
