page-company-info {
  // section icons
  .icon {
    width: 48px;
    height: 48px;
    padding: 2px 2px 2px;
    opacity: 0.9;
  }

  ion-segment-button {
    heigth: 90%;
  }
  // general info
  .full-height, .full-height ion-grid, .full-height ion-item {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  ion-row {
    flex: 1;
    align-items: center;
    justify-content: center;
  }

  .row-odd {
    background-color: #F2F2F2;
  }

  .row-even {
    background-color: #E9E9E9;
  }

  .footer {
    border-top: 1px solid;
  }

  .footer ion-col {
    text-align: center;
  }
  // charts section
  .chartissimo {
    height: 100%;
  }
}
