page-company-info {

  .toolbar-background {
    background: -webkit-linear-gradient(top, RGB(73,115,60), RGB(88,142,72));
  }

  .toolbar-title {
    color: white;
  }

  ion-segment-button {
    heigth: 90%;
  }

  .full-height div, .full-height ion-grid, .full-height ion-item {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .full-width ion-grid {
     width: 100%;
  }
    
  ion-row {
    flex: 1;
    align-items: center;
    justify-content: center;
  }

  .row-odd {
    background-color: #F2F2F2;
  }

  .row-even {
    background-color: #E9E9E9;
  }

  .footer {
    border-top: 1px solid;
  }

  .footer ion-col {
    text-align: center;
  }
  // charts section
  .chartissimo {
    height: 100%;
  }
}
